

@media screen and (min-width: 753px){

  header img {
    width: 15%;
    height: 15%;
  }

  #sidebar {
    margin-top: 40px;
    width: 17%;
    border-right:3px solid #f0f5f5;
    height: 100%;
  }

  .content {
    margin-top: 25px;
    margin-left: 3%;
}

.content h1 {
  font-size: 2em;
  margin-left: 10%;
}

.content h3 {
  font-size: 1.5em;
  margin-left: 15px;
}

  #footerlist {
    margin: 10px;
    margin-left: 10%;
  }

}
